{% extends "base.html" %}

{% block head %}<style>{{ css }}</style>{% endblock %}

{% block main %}
<h1 class="split">About this website</h1>
<p class="split">You probably already knew this, but this website uses uses _html:developer.mozilla.org/en-US/docs/Web/HTML , _js:javascript.com , and _css:developer.mozilla.org/en-US/docs/Web/CSS . It was in the about me section.</p>
<p class="split">This website also uses _python:python.org , however, using _fastapi:fastapi.tiangolo.com/ in order to have the seperate webpages and _jinja:jinja.palletsprojects.com/en/3.1.x/ .
</p>
<p class="split"> Each webpage is defined with a python function, which just renders a jinja html file. ( see the code _here:github.com/Magician357/website/ )</p>
<p class="split"> The links in the sidebar play an ending animation before leaving, giving smoothness to the site</p>
<p class="split">The background just repeatedly adds characters from a _text:magic-man.repl.co/fakecode _file:magic-man.repl.co/fakecode with a random chance to type a random wrong letter.</p>

<p class="split">This website is hosted on _replit:replit.com which is a free place to edit and run code (not sponsored) which I usually use when I don't have any other way to code or I need a website to be hosted, such as this one.</p>
<p class="split"> View the full source code on _github:github.com/Magician357/website/ or if you really want to, view it _here:magic-man.repl.co/source </p>
{% endblock %}

{% block js %}<script>{{ js }}</script>{% endblock %}
