<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <style>{% include "base.css" %}</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Magic Man</title>
    {% block head %}{% endblock %}
    <link rel="icon" href="/icon" type="image/x-icon">
  </head>
  <body>
    <main><div id="main">
      <div id="">{% include "sidebar.html" %}
      <div id="content" style="display: none;">{% block main %}<h1>Welcome to My Website</h1>{% endblock %}</div>
      {% include "background.html" %}
    </div></main>
    <script>{% include "base.js" %}</script>
    {% block js %}{% endblock %}
  </body>
</html>