{% extends "base.html" %}

{% block head %}<style>{{ css }}</style>{% endblock %}

{% block main %}
<h1 class="split">Hello World!</h1>
<p class="split">This is my website, the website of _Magic:replit.com/@Magic-Man _Man:replit.com/@Magic-Man </p>
<p class="split">It took me a few days to make this, mostly being the background.</p>
<a class="intext" href="/background">View that here,</a>
<a class="intext" href="/fakecode">or view the raw fake code here</a>
{% endblock %}

{% block js %}<script>{{ js }}</script>{% endblock %}